body {
background-color: #FFFFFF;
color: #212121;
font-style: normal;
font-weight: 400;
font-family: 'Roboto', 'Montserrat', 'Raleway', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
        margin: 0;
}
.list {
    padding: 0;
    margin: 0;
}

.list a{
    color: #FFFFFF;
    text-decoration: none;
}
h1,
h2,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;

    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --secondary-back-color: #F5F5F5;
}
/* колір основного тексту #212121 */

/* колір другорядного тексту #757575 */

/* білий колір #FFFFFF */

/* акцент #2196F3 */

/* другорядний колір фону #F5F5F5 */


/* Header */
.header {

padding-top: 24px;
padding-bottom: 25px;
border-bottom: 1px solid #ECECEC;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;     
}

/* Шапка */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 344px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    gap: 94px;      
}

.header-menu {
    display: flex;
    gap: 50px;
}

.header-adress {
    display: flex;
    gap: 50px;   
    
}


.logo-link{
    font-family: 'Raleway';
        font-style: normal;
        font-size: 26px;
        line-height: 1.2;
         color: #2196F3;
}

.logo-header {
    font-family: 'Raleway';
font-style: normal;
font-size: 26px;
line-height: 1.2;
color: #000;
}

a {
    text-decoration: none;
}

.link-current {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: #2196F3;
}

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--primary-text-color);
}


.link-adress {
    display: flex;
    justify-content: center;
    width: 161px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
    }

.contacts-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
}

.contacts-icon:hover {
    fill: var(--accent-color);
  }
  .contacts-icon:focus {
    fill: var(--accent-color);
  }
  .link-adress:focus {
    color: var(--accent-color);
  }

/* LOGO */
  .logo-setting{
    display: flex;
}
.logo {
    font-family: Raleway, Georgia;
    color:#2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* Блок Герой */
.hero-container {
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content:center;
            
}


.hero {
    margin: 0px;
    padding-top: 200px;
padding-bottom: 200px;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/bighero.jpg);
height: 600px;
max-width: 1600px;
margin-left: auto;
margin-right: auto;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
border: 1px solid #ECECEC;

    /* linear-gradient(to right, rgba(47, 48, 58, 0.4)) */
    text-align: center;
    
    
}
.hero-description {
   
    width: 696px;
    border-radius: nullpx;
    
          margin-top: 0px;
          margin-bottom: 30px;  
          color: #FFFFFF;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

}

.hero-button {
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    
}

/* < !-- Блок Списку --> */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    

    
}

.section-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
       
}

.section-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    
}


.section-tittle {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    
}

.section-description {
   
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575; 
 
}

.section-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    
    
}


/* Блок з Фото */
.foto {
    padding-bottom: 94px;
    
}

.foto .tittle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.2;
}

.foto-item {
    display: flex;
    gap: 30px;
}
/* < !-- Команда --> */
.team {

padding-top: 94px;    
padding-bottom: 94px;
background: #F5F4FA;


}

.team-items {
    display: flex;
    gap:30px;
    
}

.team-members {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-tittle {
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.team-names {
    padding-top: 30px;    
padding-bottom: 30px;
text-align: center;
}

.team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
    color: #212121;
    
        
}

    .team-description {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .socials-list {
        display: flex;
        align-items: center;
        margin-top: 16px;
        justify-content: center;
        gap: 10px;

    }

.socials-item {
    width: 44px;
    height: 44px;
    
}

.socials-links {
    display: flex;
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 50%;
    color:#AFB1B8;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

 
.social-icon {
    fill: currentColor;
}



.socials-links:focus,
.socials-links:hover {
    color:#FFFFFF;
    background-color: var(--accent-color);
}


/* Наші клієнти */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-item {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.client-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
}

.clients-item:hover {
    border-color: var(--accent-color);
}

.client-icon:hover {
    
    fill: var(--accent-color);
}

.client-icon:focus {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    fill: var(--accent-color);
}
.clients-item:focus {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}


/* Футер */

.footer {
    display: flex;
    background-color: #2F303A;
    padding: 60px 0px;
}

.footer > .container {
    display: flex;
    width: 1200px;
    padding: 0px 15px;
    margin:0px auto;
    align-items: baseline;
}

.footer-adress{
    margin-right: 70px;
}
.logo-white{
    color:#FFFFFF;
}
.footer-list{
    display: block;
    margin-top:28px;
}
.footer-list > .item+.item {
    margin-top:10px;
}
.footer-street{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.footer-contact{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.footer-adress:hover,.footer-adress:focus,
.footer-contact:hover,.footer-contact:focus{
    color: var(--accent-color);
}
.footer-title{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    margin-bottom:20px;
}
.footer-social{
    display: flex;
}
.footer-social > .item+.item{
    margin-left:10px;
}
.footer-social > .item {
    width: 44px;
    height: 44px;
}
.social{
    width:20px; 
    height:20px;
    fill:currentColor;
}
.footer-button{
    display: flex;
    width: 100%;
    height: 100%;
    padding:0px;
    border:none;
    border-radius: 50%;
    color:#FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
}

.footer-button:hover,
.footer-button:focus{
    color:#FFFFFF;
    background-color: var(--accent-color);
}

/* Портфоліо Блок Нав */

.section-nav {
    padding-top: 94px;
    padding-bottom: 94px;
   
}

.section-items {
    display: flex;
    justify-content:center;
    margin-bottom: 56px;
    gap: 8px;

}

.section-nav-button {
cursor: pointer;   
background-color:  #F5F4FA;
border-radius: 4px;
padding: 6px 22px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
border-width: 0;
color: #212121;
} 

.section-nav-button:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
}


/* Приклади Робіт */

.section-example {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding-bottom: 94px;
    gap: 30px;
    
}


.example-items {
    flex-basis: calc((100% - 60px)/ 3) ;
    outline: 1px solid #EEEEEE;
    
  }

  .example-items:hover {
   
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
.example-names {
    padding: 20px 24px;
    
}

.section-example-tittle {
     
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
          
        
    
        color: #212121;
}

.section-example-text 

{font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
color: #757575;
}




.link:hover {
color: var(--accent-color)
}

.link:focus {
    color: var(--accent-color);
}

.link:active {
    color: var(--accent-color)
}

.link-current:hover {
    color:var(--accent-color)
}

.link-current:focus {
    color: var(--accent-color);
}

.link-current:active {
    color:var(--accent-color)
}

.link-adress:hover {
    color:var(--accent-color)
}
